<!--footer-->
<footer class="footer footer-fixed-bottom">


<div class="container">
    <div class="well">
        <!--<h4>说明：</h4>-->
        <!--<p>2013级本科生课程评估工作现启动，采用网上评估的方式进行。凡本学院所有13级本科生，应于2016年12月27日前，登陆教学管理系统，完成评教，在登陆后的界面里可直接显示待评教的课程。</p>-->
        <h4>注意：</h4>
        <p>1. 初始密码为身份证后6位！</p>
        <p>2. 账号不存在说明数据库里没有您的信息！</p>
        <p>3. 如有问题，请按下方的联系方式联系管理员！</p>
        <p>4. 登陆教学管理系统进行教学评估，认真、客观地完成列表中的课程评估即可（不在列表内的课程，不属参评范围，故表中不列出）。</p>
        <p>5. 课程评估的意见和建议对促进授课教师提高教学水平、改进课堂教学具有积极的参考作用，请同学们认真、如实、客观地填写评估问卷，对本科生课程教学提出宝贵的意见和建议。所有的评价意见最终都是匿名的，填写时请同学们不必顾虑，感谢理解和支持。  </p>
    </div>
    <div class="footer">
        &copy;2016-2017 Northeastern University 资源与土木工程学院  地理信息系统与地图制图. <br />
        <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=WyEzOjU8My46NXUzKy4bPTQjNjoyN3U4NDY" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_02.png"/></a>
        author： 张桓；  All rights reserved.<br />
        技术咨询：john；   248404941（QQ）；yz30.com@aliyun.com（email）；
		<p>感谢车德福院长、刘婉婷老师的宝贵意见和大力支持</p>
    </div>
</div>
</footer>
<!-- End container-->